.schedulManager {

}

.cardList {
    white-space:nowrap;
    margin: 0 2.5% 0 2.5%;
    padding-top: 65px;
    padding-bottom:15px;
    overflow-x: scroll;
}

.cardHelper {
    display:inline-block;
    height:calc(75px + 82vh);
}

.card {
	display:inline-block;
    width:300px;
	text-align:left;
    padding: 0 5px 0 5px;
}

.card .header {
	background:#ddd;
    margin-bottom:-1px;
    padding:6px 6px 7px 6px;
    border-radius:3px 3px 0 0;
}

.card .header a {
	margin:3px 3px 3px 3px;
    padding:3px;
    border-radius:3px;
	display:block;
    font-size:10pt;
    cursor:pointer;
}

.card .header a:hover {
	background:#eaeaea;
}

.card .main {
	background:#ddd;
}

.card .list {
    padding:0 6px 0 6px;
    margin-right:4px;
    max-height:82vh;
    overflow:auto;
}

.card .footer {
	text-align:center;
    
	background:#ddd;
    margin-top:-1px;
    padding:4px 6px 3px 6px;
    
    border-radius:0 0 3px 3px;
}

/* Wallpaper Engine */
@media screen and (device-width: 100vw) and (device-height: 100vh) {

    .cardHelper {
        display:inline-block;
        height:calc(75px + 85vh);
    }

    .card .list {
        max-height:85vh;
    }
}

/* Tablet */
@media screen and (min-width: 960px) {

}

/* Mobile */
@media screen and (max-width: 480px) {

    .cardHelper {
        display:inline-block;
        height:calc(75px + 70vh);
    }

    .card .list {
        max-height:70vh;
    }
}