* {
	transition:all 0.1s;
    font-family: 'Spoqa Han Sans', 'Malgun Gothic', sans-serif;
    padding:0;
    margin:0;
    border:0;
}

body {
    background:#09f;
}

/*레이아웃*/
h1 {
    color: white;
    font-size: 48pt;
}

.navi {
    top:0;
	width:100%;
    list-style-type: none;
	position:fixed;
    z-index:1;
}

.navi li {
    float: left;
}

.navi li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navi li a:hover {
    background-color: #fff;
	color:#09f;
}

.container {
    text-align:center;
    display:inline-block;
    width:100%;
}

.container .button {
    padding: 9px 15px 9px 15px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    background: linear-gradient(to bottom, #70b500 0%, #64a200 100%);
    color: white;
    font-size: 14pt;
    font-weight: 700;
    box-shadow: 0 2px 0 #3f6f21;
}

.container .button:hover {
    background: linear-gradient(to bottom, #64a200 0%, #578c00 100%);
}

.container.mainBG {
    background: url('img/main_background.jpg');
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
    width: 100%;
    height: 960px;
}

.container.mainEndBG {
    background: url('img/main_end_background.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 960px;
    vertical-align:bottom;
}

.text {
	color: white;
	font-size: 18pt;
}

.text a {
    color: #87cefa;
    text-decoration: underline;
}