body {
    margin:0;
    background:#09f;
}

/*레이아웃*/
.button {
    padding: 15px;
    display: inline-block;
    cursor: pointer;
    border-radius: 15px;
    background: linear-gradient(to bottom, #5aac44 0, #519839 100%);

    color:white;
    font-weight:700;
}